* {
    margin: 0em;
    padding: 0em;
}

*, *:before, *:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #673AB7;
}

h1 {
    font-size: 240%;
}

h2 {
    font-size: 150%;
    margin-bottom: 1em;
}

h3 {
    font-size: 125%;
    margin-bottom: 1em;
}

h1, h2, h3 {
    color: #212121;
}

header, article, footer {
    padding: 1em;
    margin: 0em auto;
}

header {
    background: #673AB7;
    max-width: 100%;
}

nav {
    background: #673AB7;
    padding: 1em;
    margin: 0em auto;
}

nav li a {
    text-decoration: none;
    color: #212121;
}

nav li {
    margin: 0.05em;
    padding: 0.15em;
    display: block;
    background: #009688;
    color: #212121;
    font-size: 250%;
    text-align: center;
}

video {
    position: static;
    max-width: 100%;
    min-width: 100%;
}

footer p {
    margin: 0em;
}

p {
    margin-bottom: 1em;
}

.subtitle {
    color: #673AB7;
}

.discoveryLog h2 {
    margin-bottom: 1em;
}

.discoveryLog h3 {
    margin-top: 2em;
    margin-bottom: 1em;
}

.discoveryUL {
    margin-bottom: 1em;
    margin-left: 2em;
    list-style: none;
}

section.photoAlbum p {
    text-align: center;
    margin-bottom: 4em;
}

section.photoAlbum img {
    max-width: 100%;
    position: static;
}

#photoAlbumSub {
    text-align: left;
}

.caption {
    text-align: center;
    margin-bottom: 2em;
}

main {
    background: #FAFAFA;
    font-size: 125%;
}

article {
    background: #FAFAFA;
}

section {
    background: #ede7f6;
    padding: 1em;
    margin: 1em -1em -1em -1em;
}

ol {
    margin-left: 2em;
}

footer a {
    color: #212121;
}

footer {
    background: #673AB7;
    text-align: center;
}

@media screen and (min-width: 62em) {
    header.normal {
        padding: 0.5em;
        max-width: 100%;
        width: 100%;
        position: fixed;
        transition: all 0.15s ease;
    }
    header.scrolled {
        padding: 0.5em;
        max-width: 100%;
        width: 100%;
        position: fixed;
        box-shadow: 0 6px 16px rgba(0, 0, 0, 0.19), 0 4px 3px rgba(0, 0, 0, 0.23);
        transition: all 0.15s ease;
    }
    nav {
        padding: 0em;
        text-align: right;
        height: 3em;
    }
    nav li {
        margin: 0.5em;
        padding: 0.5em;
        margin-top: 0.4em;
        background: #009688;
        color: #212121;
        display: inline-block;
        list-style-type: none;
        font-size: 100%;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
        border-radius: 2px;
    }
    nav li:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
    main {
        font-size: 100%;
        padding-top: 4em;
        background-color: #FAFAFA;
    }
    article {
        max-width: 70%;
        background: #FAFAFA;
    }
    section {
        background: #ede7f6;
        padding: 1em;
        margin: 2em 0em 0em 1em;
        border-radius: 2px;
    }
}
